ecomvenv/
data/
logs/
create_datasets.py

# Credentials - JANGAN PERNAH commit ini
keys/
*.json
.env

# Python
__pycache__/
*.pyc
venv/
*.venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.cfg
airflow.db

# OS
.DS_Store
Thumbs.db